.button {
   -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.button:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.tool-bar {
    -fx-base: rgb(39, 40, 40);
    -fx-font-size: 12pt;
    -fx-background-color: rgb(39, 40, 40);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .9em 0.416667em .9em 0.416667em;
    -fx-effect: dropshadow(two-pass-box,black,25,.2,0,0);
}

.tool-bar .spacer {
    -fx-padding: 0 5.417em 0 0;
}

.list-view {
    -fx-background-color: rgb(39, 40, 40);
    -fx-text-fill: white;
    -fx-effect: dropshadow(two-pass-box,black,25,.2,0,0);
}

.list-cell { -fx-text-fill: white; }
.list-cell:odd { -fx-background-color: rgb(39, 40, 40); -fx-text-fill: white;}
.list-cell:even { -fx-background-color: rgb(39, 40, 40); -fx-text-fill: white; }
.list-cell:filled:hover {
    -fx-text-fill: white;
    -fx-background-color: rgb(74, 75, 78);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#a34313 0%, #903b12 25%, #d86e3a 75%, #c54e2c 100%);
    -fx-text-fill: white;
}


.anchor-pane {
    -fx-background-color: rgb(39, 40, 40);
}

.text-field {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 5, 0.0 , 3, 3 );
    -fx-background-color: darkgrey;
}
